<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
  <div id="app">
    <el-input v-model="price_inch1" placeholder="请输入1寸管价格"></el-input>
    <el-input v-model="price_pipe4" placeholder="请输入4分管价格"></el-input>
    <el-input v-model="price_pipe6" placeholder="请输入6分管价格"></el-input>
    <el-input v-model="price_gangjin" placeholder="请输入钢筋价格"></el-input>
    <el-button v-on:click="calculateData">计算</el-button>
  <template>
    <el-table
      :data="tableData1"
      style="width: 100%"
      >
      <el-table-column
        prop="name"
        label="产品"
        width="100">
      </el-table-column>
      <el-table-column
        prop="inch1"
        label="1寸管"
        width="100">
      </el-table-column>
      <el-table-column
        prop="pipe6"
        label="6分管"
        width="100">
      </el-table-column>
      <el-table-column
        prop="gangjin"
        label="钢筋">
      </el-table-column>
      <el-table-column
        prop="peijian"
        label="配件和螺丝">
      </el-table-column>
      <el-table-column
        prop="gongqian"
        label="工钱">
      </el-table-column>
      <el-table-column
        prop="penqi"
        label="喷漆加工钱">
      </el-table-column>
      <el-table-column
        prop="sunhao"
        label="损耗">
      </el-table-column>
      <el-table-column
        prop="rengliao"
        label="扔料">
      </el-table-column>
      <el-table-column
        prop="gangbancao"
        label="钢板槽">
      </el-table-column>
      <el-table-column
        prop="bigua"
        label="壁挂加料铲">
      </el-table-column>
      <el-table-column
        prop="zhutietui"
        label="铸铁腿">
      </el-table-column>
      <el-table-column
        prop="total"
        label="合计">
      </el-table-column>

    </el-table>
  </template>

<template>
    <el-table
      :data="tableData2"
      style="width: 100%">
      <el-table-column
        prop="name"
        label="产品"
        width="100">
      </el-table-column>
      <el-table-column
        prop="inch1"
        label="1寸管"
        width="100">
      </el-table-column>
      <el-table-column
        prop="pipe6"
        label="6分管"
        width="100">
      </el-table-column>
      <el-table-column
        prop="pipe4"
        label="4分管"
        width="100">
      </el-table-column>
      <el-table-column
        prop="peijian"
        label="配件和螺丝">
      </el-table-column>
      <el-table-column
        prop="gongqian"
        label="工钱">
      </el-table-column>
      <el-table-column
        prop="penqi"
        label="喷漆加工钱">
      </el-table-column>
      <el-table-column
        prop="sunhao"
        label="损耗">
      </el-table-column>
      <el-table-column
        prop="rengliao"
        label="扔料">
      </el-table-column>
      <el-table-column
        prop="gangbancao"
        label="钢板槽">
      </el-table-column>
      <el-table-column
        prop="total"
        label="合计">
      </el-table-column>

    </el-table>
  </template>

<template>
    <el-table
      :data="tableData3"
      style="width: 100%">
      <el-table-column
        prop="name"
        label="产品"
        width="100">
      </el-table-column>
      <el-table-column
        prop="pipe6"
        label="6分管"
        width="100">
      </el-table-column>
      <el-table-column
        prop="gangjin"
        label="钢筋"
        width="100">
      </el-table-column>
      <el-table-column
        prop="peijian"
        label="配件和螺丝">
      </el-table-column>
      <el-table-column
        prop="gongqian"
        label="工钱">
      </el-table-column>
      <el-table-column
        prop="penqi"
        label="喷漆加工钱">
      </el-table-column>
      <el-table-column
        prop="sunhao"
        label="损耗">
      </el-table-column>
      <el-table-column
        prop="rengliao"
        label="扔料">
      </el-table-column>
      <el-table-column
        prop="baoyuliaocao"
        label="保育料槽">
      </el-table-column>
      <el-table-column
        prop="zhutietui"
        label="铸铁腿">
      </el-table-column>
      <el-table-column
        prop="total"
        label="合计">
      </el-table-column>
    </el-table>
  </template>



  </div>
</body>
  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
    new Vue({
      el: '#app',
      methods: {
            calculateData() {
                    price_inch1 = this.price_inch1
                    price_pipe4 = this.price_pipe4
                    price_pipe6 = this.price_pipe6
                    price_gangjin = this.price_gangjin
                    this.tableData1 = [{
                          name: '产保一体成本',
                          inch1: price_inch1*45,
                          pipe6: price_pipe6*49,
                          gangjin: price_gangjin*29,
                          peijian: 100,
                          gongqian: 80,
                          penqi: 30,
                          sunhao: 120,
                          rengliao: 15,
                          gangbancao: 60,
                          bigua: 10,
                          zhutietui: 95,
                          total: price_inch1*45+price_pipe6*49+price_gangjin*29+100+80+30+120+15+60+10+95
                          }, {
                          name: '产床',
                          inch1: price_inch1*44,
                          pipe6: price_pipe6*47,
                          gangjin: price_gangjin*23,
                          peijian: 100,
                          gongqian: 80,
                          penqi: 30,
                          sunhao: 120,
                          rengliao: 15,
                          gangbancao: 60,
                          bigua: 10,
                          zhutietui: 95,
                          total: price_inch1*44+price_pipe6*47+price_gangjin*23+100+80+30+120+15+60+10+95
                          }, {
                          name: '单休产床',
                          inch1: price_inch1*22,
                          pipe6: price_pipe6*31,
                          gangjin: price_gangjin*18,
                          peijian: 50,
                          gongqian: 51,
                          penqi: 18,
                          sunhao: 80,
                          rengliao: 10,
                          gangbancao: 30,
                          bigua: 6,
                          zhutietui: 60,
                          total: price_inch1*22+price_pipe6*31+price_gangjin*18+50+51+18+80+10+30+6+60
                          }, {
                          name: '产床落地17猪位',
                          inch1: price_inch1*22,
                          pipe6: price_pipe6*10,
                          gangjin: price_gangjin*1.5,
                          peijian: 25,
                          gongqian: 25,
                          penqi: 10,
                          sunhao: 40,
                          rengliao: 5,
                          gangbancao: 30,
                          bigua: 0,
                          zhutietui: 0,
                          total: price_inch1*22+price_pipe6*10+price_gangjin*1.5+25+25+10+40+5+30
                          }
                          ]
                      this.tableData2 = [{
                            name: '70定位栏10猪位',
                            inch1: price_inch1*66,
                            pipe6: price_pipe6*150,
                            pipe4: price_pipe4*16,
                            peijian: 130,
                            gongqian: 155,
                            penqi: 50,
                            sunhao: 175,
                            rengliao: 35,
                            gangbancao: 300,
                            total: price_inch1*66+price_pipe6*150+price_pipe4*16+130+155+50+175+35+300
                            }, {
                            name: '60定位栏10猪位',
                            inch1: price_inch1*66,
                            pipe6: price_pipe6*141,
                            pipe4: price_pipe4*14,
                            peijian: 130,
                            gongqian: 155,
                            penqi: 50,
                            sunhao: 175,
                            rengliao: 35,
                            gangbancao: 300,
                            total: price_inch1*66+price_pipe6*141+price_pipe4*14+130+155+50+175+35+300
                            }
                            ],
                          this.tableData3 = [{
                            name: '保育床',
                            pipe6: price_pipe6*43,
                            gangjin: price_gangjin*34,
                            peijian: 40,
                            gongqian: 43,
                            penqi: 20,
                            sunhao: 90,
                            rengliao: 10,
                            baoyuliaocao: 105,
                            zhutietui: 85,
                            total: price_pipe6*43+price_gangjin*34+40+43+20+90+10+105+85
                            }
                            ]
                    }
                },
      data: function() {
                return {
                      price_inch1: '',
                      price_pipe4: '',
                      price_pipe6: '',
                      price_gangjin: '',
                      tableData1: this.tableData1,
                      tableData2: this.tableData2,
                      tableData3: this.tableData3
                      }
      },

    })
  </script>
</html>
